/* GENERAL RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #999696;
    color: #111;
}

/* PAGE TITLE */
.checkout-title{
    text-align: center;
    margin: 30px 0px 30px 0px;
    font-size: 26px;
    font-weight: 1000;
}

/* CHECKOUT CONTAINER */
.checkout-box{
    width: 90%;    
    margin:auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* SECTION BOX */
.overall-box{
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    border: 1px solid #e5e5e5;
}

.overall-box h2{
    margin-bottom: 20px;
    font-size: 18px;
}

/* 2 COLUMN FORM */
.two-inner-boxes{
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.form{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form label{
    font-size: 13px;
    margin-bottom: 6px;
    color: #555;
}

.form input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #fdfdfd;
}

/* PAYMENT ICONS */
.payment-icons{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    width: 10px;
    height: 10px;
}

.payment-icons img{
    width: 10px;
    height: 10px;
}

/* PRODUCT TABLE */
.product-table{
    width: 100%;
    margin-bottom: 25px;
}

.product-table th{
    text-align: left;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
}

.product-table td{
    padding: 12px 0;
    border-bottom: 1px solid #f1f1f1;
    color: #444;
}

.product-info{
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-info img{
    width: 60px;
    border-radius: 6px;
}

.qty-box{
    display: flex;
    gap: 10px;
    align-items: center;
}

.qty-box button{
    width: 28px;
    height: 28px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 50%;
}

/* SUMMARY BOX */
.summary-box{
    width: 300px;
    margin-left: auto;
}

.summary-box p{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.summary-box h3{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 20px;
}

/* BUTTONS */
.checkout-btn{
    width: 100%;
    padding: 12px;
    background: #111;
    color: white;
    border: none;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.continue-btn{
    width: 100%;
    padding: 12px;
    background: #fff;
    border: 1px solid #111;
    margin-top: 10px;
    border-radius: 5px;
}

/*FOOTER SECTION*/
.footer-section{
    background: #ffffff;
    padding: 40px 0;
    border-top: 1px solid #e1e1e1;
}

.footer-inner{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
}


.footer-brand h2{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
}

.footer-icons{
    display: flex;
    gap: 12px;
    margin-top: 80px; 
}

.footer-icons img{
    width: 18px;
    height: 18px;
    opacity: 0.5;
}

.footer-icons img:hover{
    opacity: 1;
}

.footer-col{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-col h3{
    font-size: 14px;
    margin-bottom: 12px;
}

.footer-col a{
    font-size: 13px;
    text-decoration: none;
    color: #555;
}

.footer-col a:hover{
    color: #000;
}


