
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #b29a9a;
    color: #222;
}
h2{
    text-align: center;
    padding: 20px;
}
/* MAIN CONTAINER */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
}

.cart {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.product-table {
    width: 65%;
    border-collapse: collapse;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.product-table th {
    text-align: left;
    padding: 15px 10px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
}

.product-table td {
    padding: 18px 12px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

.product-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.product-info img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
}

.quantity-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-box button {
    width: 28px;
    height: 28px;
    border: 1px solid #555;
    background: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
}

.Bill {
    width: 30%;
    background: white;
    padding: 25px;
    border-radius: 10px;
}

.Bill p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    font-size: 15px;
}

.Bill h3 {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 20px 0;
    font-weight: 600;
}

.checkout-button,
.savelater-button,
.continue-button {
    width: 100%;
    padding: 14px;
    border-radius: 6px;
    border: none;
    margin-top: 12px;
    font-size: 15px;
}

.checkout-button {
    background: #000;
    color: white;
}

.continue-button {
    background: white;
    border: 1px solid #000;
}

.savelater-button {
    background: white;
    border: 1px solid #000;
}

/* FOOTER */
.footer-section {
    background: #ffffff;
    padding: 40px 0;
    margin-top: 60px;
    border-top: 1px solid #e1e1e1;
}

.footer-inner {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.footer-brand h2 {
    font-size: 22px;
    margin-bottom: 15px;
}

.footer-icons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.footer-icons img {
    width: 18px;
    opacity: 0.7;
}

.footer-icons img:hover {
    opacity: 1;
}

.footer-col {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer-col h3 {
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-col a {
    font-size: 13px;
    color: #555;
    text-decoration: none;
}

.footer-col a:hover {
    color: #000;
}

