*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #ffffff;
}

.footer-section{
    background: #ffffff;
    padding: 40px 0;
    border-top: 1px solid #e1e1e1;
}

.footer-inner{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
}


.footer-brand h2{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
}

.footer-icons{
    display: flex;
    gap: 12px;
    margin-top: 80px; 
}

.footer-icons img{
    width: 18px;
    height: 18px;
    opacity: 0.7;
    cursor: pointer;
}

.footer-icons img:hover{
    opacity: 1;
}


.footer-col{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-col h3{
    font-size: 14px;
    margin-bottom: 12px;
}

.footer-col a{
    font-size: 13px;
    text-decoration: none;
    color: #555;
}

.footer-col a:hover{
    color: #000;
}

/* RESPONSIVE */
@media (max-width: 900px){
    .footer-inner{
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-icons{
        margin-top: 20px;
    }
}
